@using VendorTracker.Models;
@{
  Layout = "_Layout";
}


<h3>Here are all the orders for this vendor:</h3>
<hr>
<ol>
@foreach (Order order in @Model["orders"])
{
  @if (@order.Paid)
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a> - *PAID*</li>
  }
  @if (!order.Paid)
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a> - *NOT PAID*</li>
  }
  @* <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li> *@
}
</ol>
<hr>

<form action='/vendors/@Model["vendor"].Id/orders/new' method="get">
  <button type="submit">Add a new order</button>
</form>
<form action="/vendors" method="get">
  <button type="submit">Vendors Home</button>
</form>
<form action="/" method="get">
  <button type="submit"> Home</button>
</form>
<hr>
<form action='/orders/delete' method="post">
  <button type="submit">Remove ALL Orders</button>
</form>

@* <h1>Order has been Paid</h1>
<ul>
  @foreach (Order order in Model["orders"])
  {
    @if (@Model["order"].Paid)
    {
      <li><a href='/orders/@order.Id'>@Model["order"].Title</a></li>
    }
  }
</ul>

<h1>Not yet Paid</h1>
<ul>
  @foreach (Order order in Model)
  {
    @if (!Model["order"].Paid)
    {
      <li><a href='/orders/@order.Id'>@Model["order"].Title</a></li>
    }
  }
</ul> *@

